body {
    font-family: sans-serif;
}
header {
background-color: #0776A0;
}
header p {
font-size: 30px;
border: 2px solid orange;
border-radius: 10px;
background-color: orange;
text-align: center;
}
main h1 {
text-align: center;
}
.cemia {
width: 500px;
height: 400px;
}
.deti {
width: 500px;
height: 400px;
}
.xata{
width: 800px;
height: 400px;    
}
.com {
font-size: 40px;  
color: red;  
}
ul {
font-size: 20px;
list-style: url(https://mars.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg);
}
.tu {
border: 4px solid black;
font-size: 50px;
text-align: center;
}
footer {
background-color: #024C68;
font-size: 20px;
}
